:root {
    --enhance: #dfb625;
    --background: #03471ae3;
    --secondary-background: #fffafa;
  }
  
  html {
    position: relative
    
  }
  
  body {
    
    background-color: var(--background);
    color: var(--enhance);
    font-family: 'Roboto', sans-serif;
    
  }
  
  
  button,
  input {
    width: 100%;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }
  
  /* HEADER */

  .title {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    margin: 30px 50px;
  }
  
  /* MAIN */

  
  .content {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  /*BUTTONS*/
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 200px;
  }
    
  button {
    padding: 10px 20px;
    border: 10px solid var(--enhance);
    border-radius: 20px;
    background-color: var(--secondary-background);
    transition: all 0.2s;
  }

  .sizeButton{
    width: 70%;
    padding: 30px 20px;
    border: 10px solid var(--enhance);
    border-radius: 20px;
    background-color: var(--secondary-background);
  }

  .sizeInput{
    width: 20px;
    padding: 5px 20px;
    border: 5px solid var(--enhance);
    border-radius: 20px;
  }

  .enterButton{
    margin-top: 5px;
    padding: 10px 20px;
    border: 5px solid var(--enhance);
    border-radius: 20px;
  }


/* GRID */
  
  .board {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-background);
    border: 10px solid;
    
   
  }

  .board:hover {
    cursor: pointer;
  }
  
  .pixel {
    user-select: none;
    border: 1px solid var(--enhance) ;
  }
  

  
